{
    "phpVersion": "7.3",
    "printWidth": 150,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingCommaPHP": true,
    "braceStyle": "psr-2",
    "requirePragma": false,
    "insertPragma": false
}
