<!DOCTYPE html>
<html>
<head>
    <title>{ $seo['title'] }</title>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta name="keyword" content="{ $seo['keyword'] }">
    <meta name="description" content="{ $seo['desc'] }">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-pjax/jquery.pjax.min.js"></script>
</head>
<body data-config='{"page":"{$global['script']}"}'>
    <div id="pjax">
