{% extends 'layout.twig' %}

{% block content %}
    <div class="detail">
        <h4>{{ row.c_title }}</h4>
        <div class="cotnent">
                {{ row.c_content|raw }}
        </div>
    </div>
{% endblock %}
